<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <timestamp key="myTimestamp" datePattern="yyyy-MM-dd'_'HH-mm-ss" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %level - %msg%n</Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/${myTimestamp}.log</file>
        <encoder>
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss} - %msg%n</Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>
    <appender name="FILE_DEBUG" class="ch.qos.logback.core.FileAppender">
        <file>logs/${myTimestamp}_DEBUG.log</file>
        <encoder>
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss} - %msg%n</Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <root>
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="FILE_DEBUG" />
    </root>
</configuration>